body{		
	background:#cfe7ef!important;
}
.ms-WPBody{
	font-family:Arial, Helvetica, sans-serif!important;
}
.songanh select, .songanh input, .songanh textarea, .songanh button,
.songanh-tintuc select, .songanh-tintuc input, .songanh-tintuc textarea, .songanh-tintuc button,
.v4master1 select, .v4master1 input, .v4master1 textarea, .v4master1 button,
{
	font-family:arial;font-size:12px;
	color:#535353;
	cursor:pointer;
}
body.songanh td, body.songanh a, body.songanh a:link,.songanh .ms-WPBody a, .songanh span,
body.songanh-tintuc td, body.songanh-tintuc a, body.songanh-tintuc a:link,.songanh-tintuc .ms-WPBody a, .songanh-tintuc span,
body.v4master1 td, body.v4master1 a, body.v4master1 a:link,.v4master1 .ms-WPBody a, .v4master1 span{
	font-family:Arial;
	font-size:12px!important;
	text-decoration:none;
	cursor:pointer;
}
.songanh .ms-WPBody a:hover, body.songanh a:hover,
.songanh-tintuc .ms-WPBody a:hover, body.songanh-tintuc a:hover,
.v4master1 .ms-WPBody a:hover, body.v4master1 a:hover{
	/*color:#d00;*/
	text-decoration:none!important;
}
body.songanh,body.songanh-tintuc,body.v4master1{
	color:#535353;
}
.thongbao .div_header_style1{
	background: url(/img/Banner/ms-menu.jpg) repeat-x left bottom;
	height:30px;
	text-align:center;
	line-height:30px;
}
#s4-workspace1{		
	overflow:hidden;
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bgbodyB.png") no-repeat left bottom;	
	width:1280px;
	margin:0px auto
}
#s4-mainarea1{
	margin:0px auto;
	width:960px;
	padding:10px 0px;
	position:relative;
	z-index:1000
}
#s4-bodyContainer{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bgbody.png") no-repeat left top!important;width:1280px;margin:0px auto
}
input[type=submit], input[type=button], button{
	padding:0px 5px;
}
ul, li, p{
	margin:0px;
	padding:0px;
}
li {
	list-style: none;
}
.div-image a img{
	border:1px solid #24a9e8;
	padding-top:0px;
}
a img{
	border:0px;
	padding-top:5px;
}
#s4-workspace1 input,#s4-workspace1 select, #s4-workspace1 textarea,.songanh-tintuc button{
	font-family:Arial;
	font-size:12px;
	color:#666;
}
.songanh-tintuc select, .songanh-tintuc input[type=text],.songanh-tintuc input[type=file], .songanh-tintuc textarea{
	border:1px #d6dde7 solid;
	border-top:1px #a3b3cc solid;
}
.v4-banner{
	margin:0px auto;
	width:960px;
	position:relative;
	height:220px;
}
.logoS{
	height:130px;
	margin-top:23px;
	position:absolute;
}
.dateSearch{
	clear:both;
	overflow:hidden;
	height:35px;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bgDate-Search.png") repeat-x 0px 0px;
	top:151px;
	position:relative;
}
/**** Topmenu style.css**/
.ms-menu{
	clear:both;
	overflow:hidden;
	height:34px;
	background: url("/img/Banner/ms-menu.jpg") repeat-x left bottom;
	top:151px;
	position:relative;
}
.parent{
	float:left;
}
div.main-level a, div.main-level a:link, div.main-level a:visited {
	font-weight: bold;
	cursor: pointer;
	text-transform:uppercase;
	color: #ffffff;
}
ul#topnav li a {
	padding: 0px 20px 0px 20px;
	display:inline-block;
	text-decoration: none;
}
ul#topnav li{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bgMenuVer.png") no-repeat left 2px;
	line-height:34px;
}
ul#topnav li#firstlist0{
	margin-left:65px;
	background-image:none;
}
ul#topnav li.LvSelected + li{
	background-image:none
}
.LvSelected .main-level,.LvSelected .main-level:hover{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/mnOnR.png") no-repeat right top;	
	display:inline-block;
}
.LvSelected .main-level a, .LvSelected .main-level a:hover{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/mnOnL.png") no-repeat left top;
	display:block;
}
.LvSelected div.main-level a, .LvSelected div.main-level a:link{
	color:#fff;
}
.menuTop{
	display:none;
}
#topnav ul.children{
	position:absolute;
	/*top:190px;*/
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bg-submenutop.png") repeat-y;
	width:169px;
	z-index:10;
}
#topnav ul.children{
	display:none!important;
}
#topnav li:hover ul.children{
	display:block!important;
}
#topnav ul.children li{
	list-style-type:none;
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/icon-submenu.png") no-repeat 6px 8px;	
	line-height:28px;
	border-bottom:1px #bcd6e5 solid;
}
.second-list{
	width:161px;
	padding:0px 2px;
	border-bottom:1px #367fb3 solid;
}
#topnav ul.children li:hover{
	color:#fff!important;
	background-color:#1d8acc!important;
}
#topnav ul.children li a,#topnav ul.children li a:link{		
	color:#235298;
	font-weight:bold;
}
#topnav ul.children li a:hover{
	color:#fff;
}
/**/
.ms-quicklaunchouter,img.srch-gosearchimg{
	display:none;
}
div.ms-PartSpacingVertical{
	margin:0px 0px 6px 0px;
}
.ms-cui-topBar2 {
	border-bottom:0px solid #CAD2DB!important;
}
.s4-lp{
	padding:0px;
}
/**/
.searchL{
	float:left;
	padding:10px 0px 0px 20px;
}
span#tP{
	color:#bf0301;
}
.ms-search{
	float:right;
	padding:3px 15px 0px 0px;
}
.ms-sbgo a{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/button-search.png") no-repeat;
	width:32px;
	height:26px;
	display:block;
	border:none!important;
	border-left:0px!important;
}
div.s4-search .ms-sbcell input{
	padding:0px;
	width:190px!important;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/input.png") no-repeat!important;
	color:#ccc;
	font-size:11px;
	border:0px!important;
	height:26px;
	padding:0px 0px 0px 10px;
	line-height:26px;
}
.logoS .s4-search{
	border:1px #296dad solid;
	background-color:#134c7f;
	padding:5px 10px!important;
}
.s4-search table.s4-wpTopTable{
	margin-right:0px;
	width:auto!important;
}
.searchLB{
	float:left;
	color:#616161;
	padding-top:5px;
	padding-right:7px;
	font-family:Arial;
	font-size:12px;
}
/***** footer *******/
.footer{
	background:transparent;
	height:226px;
	overflow:hidden;	
	margin:0px auto;
	width:960px;	
}
.Footer{
	width:960px;
	margin:0px auto;
}
.Footer-menu{
	color:#C71514;	
	text-align:center;
	height:36px;
	line-height:36px;
}
div.Footer-menu a{
	padding-left:12px;
	padding-right:13px;
}
div.Footer-menu a, div.Footer-menu a:link{
	color:#c71514!important;
	text-decoration:none;
	cursor:pointer;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase
}
div.menuF1 a:hover{
	color:#333!important;
	text-decoration:none;
}
.Footer-text{
	clear:both;
}
.Footer-Text div{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}
.Footer-Text div.Footer-Ten{	
	font-size:16px;
	color:#fff;
	padding:20px 0px 10px 0px;
}
.footer-banquyen{
	text-align:right;position:relative;top:60px
}
/***Page Layout***/
.hTop{
	overflow:hidden;
}
.hMain,.layout1zone{
	margin:0px auto;
	width:963px;
	overflow:hidden;
}
.hLeft, .dLeft{
	width:470px;
	float:left;
	overflow:hidden;
}
.dCent{
	float:right;
	width:515px;
	background-color:white;
	border:1px #d5d5d5 solid;
}
.hCent{
	float:left;
	width:260px;
	margin-left:5px;
}
.hRight, .dRight,.snRight{
	float:right;
	width:220px;
	overflow:hidden;
}
.layout3Z .zoneRight{
	float:right;
	width:220px;
	overflow:hidden;
}
.hlOut{
	width:960px;
	float:left;
	overflow:hidden;
}
.dLeft2Z{
	width:230px;
	float:left;
}
.dRight2Z{
	width:720px;
	float:right;
}
.dRight2Z embed, .dRight2Z object{
	width:716px!important
}
.snMain,.layout3Z{
	margin:0px auto;
	width:963px;
	overflow:hidden;
	padding-bottom:10px;
}
.snLeft,.zoneLeft{
	width:197px;
	float:left;
	overflow:hidden;
}
.rightNew{
	margin-left:7px;
}
.snCenter,.zoneCent{
	float:left;
	width:530px;
	margin-left:8px;
}
.thongtincanbiet{
	width:218px;
	float:right;
	border: 1px solid #24a9e8;
}
.tnb{
	float:left;width:740px
}
#UnionNews_Container_mode2{
	float:left;
	width:729px;
	border:1px #24a9e8 solid;border-radius:4px;behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
	background:#fff
}
.hlOTop{
	margin-bottom:2px;
	float:left
}
/*********** tin hot ************/
.union_image_thumb ul li p{display: none;}
.hiddenThumbnail img{
	width:80px;
	height:64px;float:left
}
div#UnionNews_main_mode2{
	width:469px;
	height:420px;
	overflow:hidden;
	float:left;
	background:#fff;		
	border-radius:4px;behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
	border-top-right-radius:0px;border-bottom-right-radius:0px;
}
div#UnionNews_menu_mode2{
	width:260px;
	height:420px;
	float:right;
	background:#fff url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bg-tnb.png") repeat-y left bottom;	
	border-top-right-radius:4px;border-bottom-right-radius:4px;
}
#UnionNews_menu_mode2 table{
	width:260px!important;
}
table.lv_union_table_menuheader{	
	height:24px;	
	width:290px!important;
	position:relative;
}
.lv_union_table_menuheader td{	
	text-align:center;
	color:#fff;
	font-weight:bold;
	padding-top:3px;
	text-transform:uppercase;
}
.lv_union_table_menuheader td.lv_menuheader_first{
	padding-top:0px;
}
.lv_union_table_menuheader td.tabnormal{
	width:100px;
	height:30px;
	line-height:30px;color:#505050
}
.lv_union_table_menuheader td.tabselected{	
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tnb-tabselect.png") no-repeat 13px top;
	width:120px;
	height:33px;
	color:#fff;
	line-height:25px;
}
.lv_menuheader_first{
	z-index:3;
	position:relative;	
}
.lv_menuheader_last{
	position:absolute;
	z-index:1;
	margin-left:-6px;
}
.union_image_thumb{
	overflow:hidden;	
	padding:0px 6px;	
}
#UnionNews_menu_mode2 li{
	padding:8px 0px 9px 8px;
	overflow:hidden;
}
#UnionNews_menu_mode2 li:first-child{
	background-image:none;	
}
#UnionNews_menu_mode2 li .Union_block{	
	height:64px;
	overflow:hidden;
}
div.union_main_image{
	margin:0px auto;
	display:block;
	width:440px;
	padding:10px 0 0 0;
}
div.union_main_image img{
	width:466px;
	height:329px;
	position:absolute;
	border-radius:8px;behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
	margin-left:-12px;
	margin-top:-8px;
}
.union_image_thumb div.Union_block h2 a{
	font-weight:normal;
	padding-left:10px;
	display:block;
	color:#000;
	overflow:hidden;
	height:58px;
}
.union_main_image div.Union_block h2 a,.union_main_image div.Union_block h2 a:link,.union_main_image div.Union_block h2 a:visited{
	font-weight:bold;
	font-size:13px!important;
	color:#fff!important;
	font-family:arial!important;
	text-decoration:none;
	height:32px;
	overflow:hidden;
	display:block;
	text-align:center;
	padding:5px;
}
.hot-content1{
	font-family:Arial;
	font-size:12px;
	position:relative;
	top:270px;overflow:hidden;display:block;height:80px
}
.collapse{
	display:none;
}
.union_main_image div.Union_block h2 a:hover{
	color:#d00!important;
	
}
.union_main_image div.Union_block h2{
	position:relative;
	background:#000;
	top:260px;
	margin-left:-12px;
	width:466px;	
}
div.union_main_image .Union_desc{
	position:relative;
	display:inline!important;
}
.union_main_image .Union_desc{
	bottom: 0;	
	left: 0;
	width:280px;
	margin-left:1px;
}
.union_main_image .Union_block h2{
	margin:0px;
	padding:5px 0px 0px 0px;
	line-height:100%;
}
.button-link{
	display:none;
}
/**Lien ket hinh anh***/
.hlOTopBanner .ndiv{
	overflow:hidden;
	padding:8px 0px;
}
.hlOTopBanner .div-image{
	float:left;
}
/*** tin chuyen muc - home  **/
.hLeft .lacviet-tabsnews{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/top-tab.jpg") no-repeat left 3px;
}
.thongtincanbiet .lacviet-tabsnews,.zoneRight .lacviet-tabsnews{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/top-tab2.jpg") no-repeat left 3px;
	position:relative;
}
.hCent .lacviet-tabsnews{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/top-tab1.jpg") no-repeat left 3px;
	position:absolute;
	width:258px;
}
.TTHC .lacviet-tabsnews .ui-tabs .ui-tabs-nav{
	position:relative;
}
.hCent .TTHC .lacviet-tabsnews{
	position:relative;top:400px
}
.hCent .lacviet-tabsnews .ui-tabs .ui-tabs-panel{
	border-radius:0px;position:static
}
.hCent div.ms-PartSpacingVertical{
	margin-bottom:0px;
}
.lacviet-tabsnews .ui-tabs .ui-tabs-panel{
	background:#fff;
	border:1px #32ace6 solid;
	border-radius:4px;
	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
 	border-top-right-radius:0px;
 	border-top-left-radius:0px;
 	border-top:0px;
 	height:188px;
 	padding:0px;
 	width:528px;
}
.lacviet-tabsnews .news-tab{
	background:#fff;padding:10px
}
.thongtincanbiet .lacviet-tabsnews .news-tab {
	padding-top:0px
}
.hCent .ui-tabs .ui-tabs-panel{
	background:#fff;
	border:1px #32ace6 solid;
	border-radius:4px;
	border-radius:4px;
 	-webkit-border-radius: 4px;
 	behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
 	border-top-right-radius:0px;
 	border-top-left-radius:0px;
 	border-top:0px;
 	height:184px;
 	width:256px;
}
.hCent .TTHC .ui-tabs .ui-tabs-panel{
	height:481px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
	padding:0px 10px 10px 10px
}
.thongtincanbiet .ui-tabs .ui-tabs-panel{
	height:388px;
	width:218px;
}
.zoneRight .ui-tabs .ui-tabs-panel{
	height:auto;
	margin-bottom:5px
}
.tab-bot .lacviet-tabsnews{
	behavior:none;
	margin-top:5px
}
.lacviet-tabsnews .ui-tabs .ui-tabs-nav{
	padding:0px;margin-left:14px;
	line-height:33px;
}
.lacviet-tabsnews .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.hCent .ui-tabs .ui-tabs-nav li.ui-tabs-selected a{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tap-new-r1.png") no-repeat right top;
	height:33px;
	line-height:33px;
	color:#fff
}
.lacviet-tabsnews .ui-tabs .ui-tabs-nav li.ui-tabs-selected,.hCent .ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tap-new-l.png") no-repeat left top;top:0px
}
.news-tab-thumb-item-0{
	overflow:hidden;
	width:450px;
}
.news-tab-thumb-item-left-0 img{
	width:170px;
	height:120px;
}
.news-tab-thumb-item-left-0{
	width:180px;
	float:left;
}
.news-tab-thumb-item-content-0{
	text-align:justify;
}
.news-tab-thumb-item-right-0 div, .news-tab-thumb-item-right-0 a{
	font-family:Arial;
	font-size:12px;
}
.news-tab-thumb-item-title-0{
	padding-bottom:4px;
}
div.news-tab-thumb-item-title-0 a, div.news-tab-thumb-item-title-0 a:link, div.news-tab-thumb-item-title-0 a:visited{
	font-weight:bold;
	color:#d00;
}
div.news-tab-thumb-item-title-0 a:hover{
	color:#0072AD;
	text-decoration:none;
}
.ui-tabs-panel{
	overflow:hidden;
	clear:both;
}
.ui-tabs-hide{
	display:none;
}
ul.ui-tabs-nav{
	height:20px;
}
.ui-tabs-nav li{
	display:inline;
	float:left;
	margin-left:10px;
	padding-left:10px;
	
}
.ui-tabs-nav li.tabs-0, .ui-tabs-nav li:first-child{
	margin-left:0px;
	padding-left:0px;
	border-left:0px;
}
ul.ui-tabs-nav li a, ul.ui-tabs-nav li a:link, ul.ui-tabs-nav li a:visited{
	
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}
ul.ui-tabs-nav li a:hover{
	color:#c50000;
	text-decoration:none;
}
ul.ui-tabs-nav li.ui-tabs-selected a{
	color:#c50000;
}
.news-tab-thumb{
	clear:both;
	padding-top:10px;
	width:460px;
}
.news-tab-li-item{
	padding-bottom:10px;
	overflow:hidden;
}
.news-tab-li-item div{
	float:left;
}
.news-tab-li-item-title a{
	display:inline-block;
}
div.news-tab-li-item a, div.news-tab-li-item a:link, div.news-tab-li-item a:visited{
	color:#000;	
	font-family:arial;
	font-size:12px;
}
div.news-tab-li-item a{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/icon3.jpg") no-repeat left 3px;
	padding-left:12px;
}
div.news-tab-li-item a:hover{
	color:#d00;
	text-decoration:none;
}
.news-tab-li-item-datetime{
	font-family:Arial;
	font-size:12px;
	padding-left:5px;
	color:#9d9d9d;
}
.news-tab-other{
	float:right;
	padding:0px 0px;
}
.news-tab-other div{
	float:left;
}
.news-tab-rss{
	margin-right:15px;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/rss.gif") no-repeat right center;
	padding-right:20px;	
}
.news-tab-other div a, .news-tab-other div a:link, .news-tab-other div a:visited{
	font-family:Arial;
	font-size:12px;
	color:#0086c6;
	padding-left:15px;
}
.news-tab-other div a:hover{
	color:#d00;
	text-decoration:none;
}
.news-tab-xemtiep{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/more.gif") no-repeat left 2px;
}
/***Hoi dap**/
.ms-quickLaunch{
	padding:0px!important;
}
.hCent .navList{
	overflow:hidden;
	border:1px #6aabd8 solid;
	position:relative;
	z-index:1;
	border-top:0px;
}
.hCent .ms-navheader{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/hr-title.png") no-repeat left top;
	height:30px;
	line-height:30px;
	color:#fff!important;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	z-index:3;
	padding-left:38px;
}
.hCent .div-link-navheader{
	padding:0px;
}
.hCent .ms-navItem{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/mn-space.gif") repeat-x left top;
	padding-top:6px;
	padding-bottom:7px;
}
.hCent .first-ms-navItem{
	background-image:none;
}
.hCent .ms-navSubMenu ul li{
	padding:0px 10px;
}
.hCent .div-leftsubmenu{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/icon-redC.png") no-repeat left 2px;
	padding-left:20px;
}
.hCent .div-leftsubmenu span,.hCent .div-leftsubmenu span:link,.hCent .div-leftsubmenu a,.hCent .div-leftsubmenu a:link,
.snRight .div-leftsubmenu span,.snRight .div-leftsubmenu span:link,.snRight .div-leftsubmenu a,.snRight .div-leftsubmenu a:link{
	color:#006198;
	font-weight:bold;
}
.div-leftsubmenu span,.div-leftsubmenu span:link,.div-leftsubmenu a,.div-leftsubmenu a:link,.div-leftsubmenu a:visited{
	color:#006198!important;
	font-weight:bold;
}
.div-leftsubmenu span:hover,.div-leftsubmenu a:hover{
	color:#dd0303!important;
	font-weight:bold;
}
/**Du Bao Thoi Tiet**/
/*.WeatherForecast div{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.WeatherForecast{
	overflow:hidden;
	border:1px #6aabd8 solid;
	position:relative;
	z-index:1;
	border-top:0px;
}
.wf-title{
	background: url("/web/20180629163147im_/http://svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") no-repeat left top;
	height:30px;
	line-height:30px;
	color:#fff!important;
	font-size:12px!important;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	z-index:3;
	padding-left:38px;
}
.hCent .wf-title{
	background: url("/web/20180629163147im_/http://svhttdl.daknong.gov.vn/imgSonganh/hr-title.png") no-repeat left top;
	height:30px;
	line-height:30px;
	color:#fff!important;
	font-size:12px!important;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	z-index:3;
	padding-left:38px;
}
.wf-city{
	display:none;
}
.wf-selected-zone,.dvnduyweather{
	padding:5px 10px;
	overflow:hidden;
}
.wf-selected-zone{
	padding-top:10px;
	background: url("/web/20180629163147im_/http://svhttdl.daknong.gov.vn/imgSoTTTT/daknong.jpg") no-repeat left 0px;
	margin:5px 0px 0px 7px;
}
.wf-drop select{
	width:163px;
	height:19px;
	border:1px #7098c7 solid;
	color:#000!important;
	font-size:11px!important;
	display:none;
}
.dvnduyweather div{
	color:#282828;
	font-weight:bold;
}*/
/**Home Van Ban Moi**/
.wpVBM{
	overflow:hidden;
	position:relative;
	z-index:1;
	margin-bottom:6px;
}
.td_vanbanmoi{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-title.png") no-repeat left 0px;
	height:29px;
	width:211px;
	line-height:29px;
	color:#fff!important;
	font-size:12px!important;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	z-index:3;
	padding:0px 0px 0px 35px!important;
}
.divvanbanmoi{
	padding:9px 0px 10px 0px;
	overflow:hidden;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-space.gif") repeat-x left top;
}
.divvanbanmoi:first-child{
	background-image:none!important;
}
.divskhnbh{
	padding-bottom:5px;
	overflow:hidden;
}
.divvbm_sokihieu{
	color:#000;
	padding-bottom:3px;
	overflow:hidden;
}
.divvbm_sokihieu:hover{
	color:#d00;
	cursor:pointer;
}
.div_SoKiHieu{
	font-family:Arial;
	font-size:12px;
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/icon3.jpg") no-repeat 0px 2px;
	padding-left:15px
}
.divvbm_ngaybanhanh{
	float:right;
	font-size:11px;
	color:#252525;
	font-family:Arial;
}
.divvanbanmoi a .divvbm_trichyeu{
	color:#757575;	
}
div.divvbm_trichyeu{
	text-align:justify;
	height:30px;
	overflow:hidden;
	font-family:Arial;
	font-size:12px;
}
div.divvbm_trichyeu p, div.divvbm_trichyeu span{
	margin:0px;
	padding:0px;
	font-size:12px!important;
	font-family:arial!important;
	font-weight:normal!important;
	text-align:justify;
}
div.div_htvb p, div.div_htvb span{
	margin:0px;
	padding:0px;
	font-size:12px!important;
	font-family:arial!important;
	font-weight:normal!important;
	text-align:left!important;	
}
.divvanbanmoi a:hover, .divvanbanmoi a:hover div{
	color:#d00;
	text-decoration:none;
}
div.divvbm_xemchitiet{
	font-style:italic;
	padding-top:5px;
	color:#646464;
	font-size:11px;
}
.divvbm_dinhkem{
	float:right;
	margin-top:-15px;
}
.divvbm_dinhkem div{
	float:left;
	color:#646464;
	font-size:11px;
}
table.ds_VBPL, table.table_ct {
	border-collapse: collapse;
	width: 100%;
	border-bottom:1px #a7c7d7 solid;
}
/***Tin Video**/
/*.videobox{
	width:211px;
	padding-top:5px;
}
.videobox-content{
	overflow:hidden;
	border:4px #00538d solid;
	position:relative;
	z-index:1;
	border-top:0px;
	margin-bottom:6px;
}
.videobox-title{
	background: url("/web/20180629163147im_/http://svhttdl.daknong.gov.vn/imgSonganh/tinvideo-title.png") no-repeat left top;
	height:29px;
	width:211px;
	line-height:29px;	
	position:relative;
	z-index:3;
	padding-left:45px;
}
.videobox-title a,.videobox-title a:link{
	color:#fff!important;
	font-size:12px!important;
	font-weight:bold;
	text-transform:uppercase;
}
div.videobox-title a:hover{
	text-decoration:none;
}
.videobox-image{
	width:201px!important;
	position:relative;
	height:150px!important;
	border:1px white solid;	
}
.p-videobox-thumb img{
	width:199px;
	height:148px;
	border:1px #000000 solid;
}
.p-videobox-thumb2{
	position:absolute;
	left:80px;
	top:50px;
}
.p-videobox-thumb2 img{
	width:50px;
	height:50px;
}
#MediaPlayerZone{
	padding-left:1px;
}
#MediaPlayerZone object, #MediaPlayerZone embed{
	width:211px!important;
	height:190px!important;
}
.mediaItems{
	background-color:#e6e6e6;
	overflow:hidden;
	border:1px white solid;
	border-top:0px;
}
.mediaItems li{
	font-family:Arial;
	font-size:12px;
	color:#3b3b3b;
	border-top:1px white solid;
	padding:7px 7px 6px 8px;
}
.mediaItems li:hover{
	color:#fff;
	background-color:#045690;
}
.mediaXemTiep{
	padding-top:10px;
	float:right;
	padding-right:7px;
}
.mediaXemTiep a, .mediaXemTiep a:link, .mediaXemTiep a:visited{
	font-family:Arial;
	font-size:12px;
}
.mediaXemTiep a:hover{
	color:#d00;
	text-decoration:none;
}*/
/******** Phong su anh **********/
div#ppy1 .ppy-outer{
	border:0px;
	background-color:transparent;
	 width:220px!important;
	 padding:0px!important;
	 position:relative;
}
#ppy1.ppy-active, .ppy-placeholder{
    width:220px!important;
    margin:0px!important;
    height:170px!important;
}
.ppy-outer{
	overflow:hidden;		
	margin-bottom:6px;
}
.title-album{
	position:relative;
	z-index:100;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tvanh-title.png") no-repeat left top;
	height:30px;
	width:220px!important;
	line-height:30px;	
}
div.title-album a{
	padding-left:38px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}
div.title-album a, div.title-album a:link, div.title-album a:visited{
	color:#fff;	
}
div.title-album a:hover{
	text-decoration:none;
}
.ppy-stagewrap{	
	border:1px #24a9e8 solid;	
	border-top:0px;
	height:160px;	
	position:relative;
	z-index:1;
	top:-26px;behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
}
div#ppy1 .ppy-stage img{
	width:216px!important;
	height:153px!important;
	border:1px #fff solid!important;
	border-radius:4px;
	behavior: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/SiteAssets/js/PIE.htc);
}
div#ppy1 .ppy-nav{
	width:64px;
	padding:0px;
	top:30px!important;
	right:4px!important;
	z-index:1000
}
.videobox-content object, .videobox-content embed{
	width:210px;
}
.ppy-outer{
	position:relative;
}
/**Link lien ket**/
.linkweb{
	overflow:hidden;
	margin-bottom:6px;	
}
.linkweb{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bg-lt.png") no-repeat left top;
	padding-top:15px;
	margin-top:2px;
	height:76px
}
.linkweb-title{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bg-ke.png") no-repeat left bottom;
	margin:0px 0px 10px 10px;
	padding:0px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#ae0014;text-transform:uppercase
}
.linkweb-cnt{
	margin-left:10px
}
.linkweb-cnt select{
	width:95%!important;
	border:1px #a4a3a3 solid;
	font-style:italic;
	color:#2b2b2b!important;
}
/**So Luot Truy Cap**/
.main-hit{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bg-ltc.png") no-repeat left top;
	width:220px;float:left;padding-top:45px;height:75px
}
.main-hit1{
	float:left;padding:0px 5px;
}
.HitTitle h3{
	color:red;
	font-size:12px!important;
	font-weight:bold;
	text-align:center;
	margin-top:9px;
}
.HitTitle{
	width:110px;margin:0px 5px 0px 7px;height:15px
}
.HitCount-content,.HitTitle{
	float:left;
	border:1px solid maroon;
	height:32px;
	margin-left:2px;
	margin-top:7px;
	border-radius:2px;
	text-align:center;
	width:215px;
}
.HitCount-content{	
	margin-top:8px	
}
.divHitCount{
	float:left;width:100%
}
.font-number{
	color:#b30202;
	padding:1px 2px;
	margin-left:-3px;
	font-size:25px;
	font-weight:bold;
}
/**Right Menu Gioi Thieu**/
.div-link-navheader{
	color:#fff;
	font-weight:bold;
	padding:6px 0px 9px 10px;
}
.div-link-navheader a,.div-link-navheader a:link{
	color:#fff!important;
	font-size:12px!important;
}
ul.classshow,ul.classhide{
	background:#bedfed;	border:1px #32ace6 solid;border-bottom:0px;
}
ul.classshow li,ul.classhide li{
	border-bottom:1px #88bdd4 solid;
	border-top:1px #fff solid
}
.hRight .navList{
	margin-bottom:6px;
}
.classhide{
	display:none;
}
ul.classshow ul{
	background:#fff;border:0px
}
ul.classshow ul li{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/icon-xanh.gif") no-repeat 20px 12px;
	border:none;
	padding-left:10px;
}
.zoneRight .navList{
	margin-bottom:6px
}
.ms-navItem{
	padding:8px 0px;
}
.first-ms-navItem{
	background-image:none;
}
.div-leftsubmenu{
	padding:0px 10px 0px 15px;
}
.navList ul ul ul .div-leftsubmenu{
	padding:0px 10px 0px 20px;
}
.div-leftsubmenu span{
	color:#03558e;
	font-weight:bold;
}
/***cac menu Right**/
.snRight .ms-navheader,.zoneLeft .ms-navheader,.snLeft .ms-navheader,.zoneRight .ms-navheader,.hRight .ms-navheader{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x left top;	
	border-top:1px #56a3d9 solid;
}
/***Cac Menu Left**/
.zoneLeft .ms-navheader{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x left top;
	height:30px;
	color:#fff!important;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	z-index:3;
}
.zoneLeft .first-ms-navItem{
	background-image:none;
}
/***Chi tiet 1 tin**/
tr.ms-news-header td{
	padding-bottom:10px;
}
.allPost{
	overflow:hidden;
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/top-tin.png") no-repeat left 2px;
	border-bottom:1px #24A9E8 solid
}
.postMain{
	background:#fff;border:1px #24a9e8 solid
}
.postMain .Time{
	color:#fff
}
.ms-news-header td{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x;padding:8px 10px 0px 15px
}
.lv-pst-xtn-dp input,.lv-pst-xtn-dp img{
	vertical-align:middle
}
.mainDSHD{
	border:1px #24a9e8 solid;border-top:0px;
	overflow:hidden;
	background:#fff url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x left top;
}
.FolderTitle{
	padding-left:15px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px!important
}
.postMain #part1,.postMain #part2{
	padding:10px 10px 0px 10px
}
#tableforprint{
	padding-top:10px;
}
#tableforprint p.Title{
	color:#007bb5;
	font-weight:bold;
	padding-bottom:10px;
	font-size:16px!important;
}
#tableforprint td,#tableforprint span,#tableforprint p{
	font-family:Arial, Helvetica, sans-serif!important;
	font-size:12px!important;line-height:18px
}
.lv_description_mode1{
	color:#181818;line-height:18px;font-size:12px
}
.css_printandback{
	float:right;
}
.css_readCounter{
	font-family:arial;
	font-size:12px;
	color:#0b5090!important;
	font-weight:bold;
}
.css_linkstoweb{
	display:none;
}
.css_readCounter, .css_printandback a.return,.css_printandback a.print{
	color:#0b5090!important;
	font-family:arial;
	font-size:12px;
}
.css_printandback a.return:hover,.css_printandback a.print:hover{
	text-decoration:none;
	color:#d00!important;
}
a.return{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/nut-quay-lai.gif") no-repeat left 0px;	
	padding-left:20px;
	margin-left:20px;
}
a.print{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/ico_print.gif") no-repeat left 0px;	
	padding-left:20px;
}
css_Xemtiep{
	background: url("http://web.archive.org/web/20180629163147im_/http://svhttdl.daknong.gov.vn/soGDDTimage/xem.gif") no-repeat left top;
	padding-top:10px;
}
.css_Xemtiep:hover{
	background: url("http://web.archive.org/web/20180629163147im_/http://svhttdl.daknong.gov.vn/soGDDTimage/xemH.gif") no-repeat left top;
}
.css_Xemtiep img{
	display:none;
}
.css_bt_Xemtheongay {
	width: 36px;
	height: 22px;			
	cursor: pointer;
	vertical-align: middle;
}
.lv-pst-xtn{
	overflow:hidden;
	padding-left:10px;
	padding-top:10px;
}
.lv-pst-xtn div{
	float:left;
	font-family:Arial;
	font-size:12px;
	color:#333;
	padding-right:5px;
	line-height:18px;
	font-weight:bold;
}
.lv-pst-xtn-btn input{
	background: transparent url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/1.png") no-repeat left top;
	width:56px;
	height:24px;
	border:0px;
	font-size:5px;
	text-indent:-9999px;
	cursor:pointer;
}
#datepicker{
	height:20px;
}
.OtherTitle {
	font-weight: bold;
	color: #b00000;
	font-family:arial;
	font-size:12px!important;
	text-transform:uppercase;
}
.Other li {
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/dotG.gif") no-repeat left 4px;
	padding-left: 12px;
	padding-bottom: 8px;
}
.Other li a, .Other li a:link {
	text-decoration: none;
	cursor: pointer;
	color: #333!important;
	font-family:arial;
	font-size:12px;
}
.Other li a:visited{
	color:#666!important;
}
.Other li a:hover {
	color: #d00!important;
	text-decoration: none;
}
.OtherTitle{
	padding-top:10px;
	padding-bottom:10px;
}
td.Other{
	padding-left:10px;
}
.tin2 td.Other{
	padding-left:20px;
}
.tinHT img {
	width:120px!important;
	height:90px;
	cursor: pointer;
	margin:0px 9px 0px 0px;
}
.tinHT{
	border-bottom:1px #94d4f1 solid
}
.noidung{
	padding:0px 10px;
	font-family:Arial;
	font-size:12px;
}
/***Hoat dong cua lanh đao**/
.div_header_tintuc a,.div_header_tintuc a:link{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tap-new-r.png") no-repeat right top;
	float:left;
	line-height:32px;
	padding:0px 11px;
	font-weight:bold
}
.container_top_left1{
	height:30px;
}
.container_top_left1 ul{
	float:left;width:100%;padding-left:10px;
}
.div_header_tintuc{
	background:url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/tap-new-l.png") no-repeat left top;
	float:left;height:32px
}
.tintuc-tomtat,.allPost .tbtinkhac{
	padding:0px 10px
}
.tintuc-tomtat,.allPost .tbtinkhac,.allPost .tindadua{
	border-left:1px #24a9e8 solid;
	border-right:1px #24a9e8 solid;
	background:#fff;
}
.allPost .tindadua{
	border-bottom:1px #24a9e8 solid;padding-right:10px
}
.TitleFront{
	padding: 8px 0px 0px 10px;
	background: url(/img/ico/icon_news.gif) no-repeat 0 12px;
}
.TitleFront a,.TitleFront a:link,.TitleFront a:visited{
	text-decoration:none;
	color:#0072ad!important;
	font-weight:bold;
}
.TitleFront a:hover{
	color:#DD0000!important;
	font-weight:bold;
}
/***Van Ban Phap Luat***/   
.ttMain,.l2zMain{
	 margin: 0 auto;
    overflow: hidden;  
    width: 963px;
	border:1px #a7c7d7 solid;
	background:#fff;
}
table.dvBlockSearch-tb td{
	padding:4px;
	border-collapse:collapse;
}
table.dvBlockSearch-tb td.dvVBPL-title{
	padding:8px 0px 10px 10px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}
.dvBlockSearch-tb button, .title_VBPL button,#ctl00_m_g_24ba52d7_3813_4df2_8bfa_8018504224c1_ctl00_btnInsert,#ctl00_m_g_24ba52d7_3813_4df2_8bfa_8018504224c1_ctl00_btnReset
{
	background:transparent url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/buton-80.png") no-repeat left 0px;
	width:80px;
	height:24px!important;
	border:0px;
	color:#fff!important;
	cursor:pointer;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
}
.dvBlockSearch-tb button:hover,.title_VBPL button:hover{
	color:#ffff00!important;
	font-weight:bold;
}
td.dv-title{
	width:30%;
	font-weight:bold;
}
td.dv-input{
	width:60%;
}
td.dv-input input{
	width:280px;
	border-collapse:collapse;
}
td.dv-input select{
	width:284px;
	border-collapse:collapse;
}
div.title_VBPL {
    color: #D70000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding:10px 0px 17px 10px;
}
#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_tongso{
	float:left;
	width:130px;
	padding-top:0px;
}
.hd_rowhtvb {
    background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x scroll left top transparent;  
    height: 30px;
    line-height:30px;
}
.hd_trichyeu {
    border-right: 1px solid #a7c7d7;
    color: #FFF;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width:401px;
}
.hd_tapdinhkem {
    color: #FFF;
    float: right;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 94px;
}
.td_rowa{
	 border-bottom:1px #6aabd8 solid;
	 border-top:1px #6aabd8 solid;
}
.td_rowb{
	background-color: #EFEFEF!important;
}
div.div_tbhtvb:hover{
	background:#d8e9f4
}
.td_rowa, .td_rowb{
	padding:5px 8px;
	clear:both;
	overflow:hidden;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/bgBor.jpg") repeat-y 400px top;	
}
.td_rowa .div_roowhtvb, .td_rowb .div_roowhtvb {
    float: left;
    width: 384px;  
}
.td_rowa .div_roowhtvb div, .td_rowb .div_roowhtvb div{
	text-align:justify;
}
.htvb_Attachments {
    float: right;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    width: 90px;
}
.htvb_Attachments div{
	float:left;	
}
div.htvb_Att_img{
	padding-left:30px;
	clear:left;
}
.htvb_Att_img img{
	border:0px;
	width:30px;
	height:auto;
}
.divvanbanmoi .htvb_Att_img img{
	width:24px;
}
.row_itemhtvb div.htvb_Att_img{
	padding-left:10px;	
}
div.htvb_Attachments a:hover{
	color:#d00;
	text-decoration:none!important;
}
.dvBlockSearch-tb{
	padding:0px 10px;
}
/**Chi tiet 1 van ban**/
.table_ct .row_title img{
	display:none;
}
.title_ct{
	padding-left:10px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}
.table_ct{
	border-collapse:collapse;
}
.table_ct td{
	 border: 1px solid #a7c7d7;
	 padding:5px;
}
#ctl00_m_g_83008a6d_c9c6_4afc_bf75_c1d0b01b1795_ctl00_tongso{
	float:left;
	width:130px;
}
#ctl00_m_g_83008a6d_c9c6_4afc_bf75_c1d0b01b1795_ctl00_editRecord,#ctl00_m_g_83008a6d_c9c6_4afc_bf75_c1d0b01b1795_ctl00_thuchienquytrinhBtn,
#ctl00_m_g_83008a6d_c9c6_4afc_bf75_c1d0b01b1795_ctl00_buttonback,#ctl00_m_g_83008a6d_c9c6_4afc_bf75_c1d0b01b1795_ctl00_deleteRecord{
	background: transparent url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/buton-80.png") no-repeat left 0px;
	width:80px;
	height:24px;
	color:#fff!important;
	border:0px;
	line-height:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	margin:10px 0px 10px 3px;
	margin-right:5px;
}
#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_deleteRecord,#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_editRecord,
#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_buttonback,#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_thuchienquytrinhBtn,
#ctl00_m_g_07991650_6db4_40c5_91c9_d73a0d0ce9f5_ctl00_buttonback,#ctl00_m_g_07991650_6db4_40c5_91c9_d73a0d0ce9f5_ctl00_editRecord,
#ctl00_m_g_07991650_6db4_40c5_91c9_d73a0d0ce9f5_ctl00_deleteRecord,#ctl00_m_g_07991650_6db4_40c5_91c9_d73a0d0ce9f5_ctl00_thuchienquytrinhBtn{
	background: transparent url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/buton-80.png") no-repeat left 0px;
	width:80px;
	height:24px;
	color:#fff!important;
	border:0px;
	line-height:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	margin:10px 0px 10px 3px;
	margin-right:5px
}
#ctl00_m_g_818772d3_0663_4ec0_92e9_a961f4ac5805_ctl00_cacLenhDropDownList{
	border:1px #9db9d9 solid;
	border-collapse:collapse;
}
/***Nhap van ban**/
.table_nhapVB{
	padding:4px 10px 10px 10px;
}
.table_nhapVB input[type=submit],.table_nhapVB button{
	background: transparent url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/buton-80.png") no-repeat left 0px;
	width:80px;
	height:23px;
	color:#fff!important;
	border:0px;
	line-height:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}
.table_panelVB table td,.table_panelVB .cell2 input[type=text],.table_panelVB .cell2 textarea {
	padding: 2px;
}
.table_panelVB .cell1 {
	font-weight: bold;
	font-family:Arial;
	font-size:12px;
}
.table_panelVB .cell2 {
	width:390px;
}
.table_panelVB .cell2 input[type=text]{
	width:350px;
}
.table_panelVB .cell2 select{
	width:356px;
}
.table_panelVB .cell2 input[type=file]{
	height:21px;
}
.table_panelVB .cell2 textarea{
	width:350px;
}
.table_panelVB .cell2_selector {
	width: 183px;
	height: 125px;
	overflow: scroll;
}
.table_panelVB .cell2_selector_padding {
	padding-left: 10px;
}
.table_panelVB table td td{
	border: none;
	padding: 0px;
}
.table_panelVB{
}
.table_panelVB .cell2_text{
	width: 100%;
}
textarea.cell2_text{
	height:100px;	
}
.cell2 table table a{
	margin-left:10px;
	background: url("../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/_LAYOUTS/LacVietBio/eofficeimg/Giaodien/NewsCity/DeleteCategory.gif") no-repeat left center;
	line-height:19px;
	padding-left:20px;
}
td.cell2 a, td.cell2 a:link, td.cell2 a:visited, td.cell2 a:hover{
	color:#f00;
}
td.cell2 table td{
	padding:3px 0px 0px 0px;
	color:#666;
}
.table_panelVB .cell2 td input[type=text]{
	width:120px;
}
.table_panelVB1 {
	border-top: 1px #e0e0e0 solid;
}
.table_nhapVB select{
	margin-left:130px;
	width:150px;
}
.table_nhapVB .cell2 select{
	margin-left:0px;
}
.table_nhapVB select, .table_nhapVB input{
	color:#666;
}
#ctl00_m_g_174bd15f_d7ec_4e05_b7de_47eb92ce1376_ctl00_captchaTR td{
	padding-left:135px;
}
#ctl00_m_g_174bd15f_d7ec_4e05_b7de_47eb92ce1376_ctl00_captchaTR td img{
	height:auto!important;
}
.txtCalendar {
	width:100%;
}
/**form Lien He**/
.formLH  div{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.lhTitle{
	color:#fff;
	font-weight:bold;
	margin-bottom:10px;
	text-transform:uppercase;	
}
.td_ct2 a:hover{
	color:#d00!important;
}
.gopy-title{
	color:#fff;margin:3px 0px 10px 0px;font-size:12px!important
}
/*hinh anh hoat dong*/
.abc {
    float: left;
    height: 90px;
    text-align: center;
    width: 132px;
}
img.abc2 {
    height: 80px;width: 110px;
}
.paginationdvnduy {
    clear: both;
    float:right;
}
/*center layout*/
.zoneCent{
	border:1px #24a9e8 solid;border-top:0px;
	overflow:hidden;
	background:#fff url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/r-titlemn.png") repeat-x left top;
}
.zoneCent-GT{
	padding:5px 5px 0px 5px;
}
.zoneCent-GT .noiDung{
	padding-top:15px;
}
.zoneCent-GT .noiDung .title{
	color:red;
	text-align: justify;
    font-family: arial;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
}
.zoneCent-GT .noiDung .moTaNgan{
	color:#3442ff;
	text-align: justify;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.zoneCent-GT .noiDung .contents{
text-align: justify;
font-family: arial;
padding: 5px 0;
font-size: 12px;
}
#breadCrumb0{
	border:0px!important;
	margin-bottom:10px;
}
/*img trang chi tiet*/
.zoneCent-GT img{
	width:500px;
}
/*thu tuc hanh chinh*/
table.ds_VBPL .row_title td{
	background-color: #278ec9;
	vertical-align: middle;
	font-weight: bold;
	color: #fff;
	text-transform:uppercase;
	border:1px #1b517e solid;
}
table.ds_VBPL tr.row_title td{
	padding:7px 4px!important;
	text-align:center;
}
table.ds_VBPL .td_row1 td, table.table_ct .tr_row2 td,
table.LacVietSPList-TimKiemTongQuan .TimKiemTongQuan-tr1 td{
	background-color: #ffffff;
}
table.ds_VBPL .td_row2 td, table.table_ct .tr_row1 td,
table.LacVietSPList-TimKiemTongQuan .TimKiemTongQuan-tr2 td {
	background-color: #EFEFEF;
}
table.ds_VBPL tr:hover td,
table.LacVietSPList-TimKiemTongQuan tr:hover td {
	background-color: #d8e9f4;
}
table.ds_VBPL tr.row_title:hover td{
	background-color:#278ec9;
}
table.ds_VBPL td, table.table_ct td, table.LacVietSPList-TimKiemTongQuan td {
    border: 1px solid #32ACE6;
    padding: 8px 4px;
    text-align: left;
}
.alert{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d70000;
	font-weight:bold;
	padding:4px 10px 4px 130px;
}
.row_title {
	background:#088ac6;
}
.ds_VBPL td.dvc_att,.table_ct td.td_ct2{
	border-right:0px
}
.ds_VBPL td.DT_TTTHC,.table_ct td.td_ct1{
	border-left:0px
}
/**so do site**/
/***** Sitemap treeview   *****/
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}
.treeview ul {
	margin-top: 4px;
}
.treeview .hitarea {
	background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
* html .hitarea {
	display: inline;
	float:none;
}
.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}
.treeview a.selected {
	background-color: #eee;
}
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.filetree li { background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }
.treeview-red li { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-red.gif); } 
.treeview-black li { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-black.gif); }  
.treeview-gray li { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-gray.gif); } 
.treeview-famfamfam li { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/treeview-famfamfam.gif); } 
.filetree li { padding: 3px 0 2px 16px; }
.filetree div.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree div.folder { background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/folder-icon2.png) 0 0 no-repeat;width:100%;height:40px;padding-top:15px;padding-left:45px;margin-top:-10px }
.filetree li.expandable span.folder { background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/folder-closed.gif) 0 0 no-repeat; }
.filetree div.file { background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/folder-icon-level2.jpg) no-repeat left 5px; height:30px;padding-top:6px;padding-left:25px;margin-top:-10px;width:100%  }
.filetree div.item { background: url(../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/Paper-Clip-icon.png) 0 0 no-repeat; height:20px;padding-top:5px;padding-left:23px;margin-top:-5px;width:100%  }
.dvnduy-sitemap a:hover{
	text-decoration:none;
}
/** siteMap screen  ***/
html, body {height:100%; margin: 0; padding: 0; }
h1, h2 { font-family: arial; padding: 0px; margin: 0 }

#banner { padding: 15px; background-color: #06b; color: #fff; font-size: large; border-bottom: 1px solid #ccc;
    background: url(/web/20180629163147im_/http://svhttdl.daknong.gov.vn/Style Library/en-us/Core Styles/bg.gif) repeat-x; text-align: center }
#banner a { color: #fff; }

.sitemap-title{
	overflow:hidden;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	font-family:arial;
	font-size:12px;
	margin-right:8px;
	padding:8px 0px 15px 20px
	/*background: url('/web/20180629163147im_/http://svhttdl.daknong.gov.vn/_layouts/LacVietBio/eofficeimg/Giaodien/site/c-container_top-970.png' ) no-repeat -5px -6px;*/
}
.soTTTT .sitemap-title{
	/*background: url('/web/20180629163147im_/http://svhttdl.daknong.gov.vn/_layouts/LacVietBio/eofficeimg/Giaodien/NewsCity/iconSM.jpg' ) no-repeat left center;*/
	padding-left:38px;
	margin-bottom:10px;
}
.dvnduy-sitemap{	
	height:auto;				
	padding:10px 0px 0px 20px
}
.dvnduy-sitemap a, .dvnduy-sitemap a:link, .dvnduy-sitemap a:visited{
	color:#0072bc!important;
}
.dvnduy-sitemap a:hover{
	color:#d00;
}
/**lay y kien van ban du thao**/
/**jquery.ui.tabs Them lan nay nua thoi nha***/
.ui-tabs { position: relative; padding: .0em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 1.0em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .0em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
.vbdt-ul li{
	font-family:Arial;
	font-size:12px;
	padding-bottom:8px;
}
.vbdt-ul li:hover{
	color:#d00;
}
.pagination{
	float:right;
}
/** van ban du thao ***/
#tabs .ui-helper-clearfix{
	position:relative;
	z-index:2;
}
.ui-widget-content{
	overflow:hidden;
}
.ui-tabs-panel{
	top:-1px;
	overflow:hidden;
	clear:both;
	padding:10px 0px;	
	position:relative;
	z-index:1;
}
div.ui-tabs div.contenttab1 li, div.ui-tabs div.contenttab2 li{
	padding:5px;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/dotG.gif") no-repeat 10px 10px;
	padding-left:20px;
}
.contenttab2{
	overflow:auto;
}
li.vbdt-li:hover{
	color:#d00;
	cursor:pointer;
}
li.ui-state-default a{
	font-family:Arial, Helvetica, sans-serif!important;
	font-size:12px!important;
}
.paginationhethan, .paginationconhan{
	padding:10px;
	overflow:hidden;
}	
.pagination{
	float:right;	
	padding:5px 0px 10px 0px;
}
div.pagination span, div.pagination a{
	padding:0px;	
	background-color:transparent!important;
	border:0px;
	margin:0px 0px 0px 5px!important;
}
div.pagination .current{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:0px;
	color:#d00;
}
div.pagination .prev{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/prev2.jpg") no-repeat left -2px;
	padding-left:11px;
}
div.pagination .prev:hover{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/prevH.jpg") no-repeat left -2px;
}
div.pagination .prev.current{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/prev1.jpg") no-repeat left -2px;
	color:#999;
	cursor:default;
}
div.pagination .next{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/next2.jpg") no-repeat right -2px;
	padding-right:11px;
}
div.pagination .next:hover{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/nextH.jpg") no-repeat right -2px;
}
div.pagination .next.current{
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/next1.jpg") no-repeat right -2px;
	color:#999;
	cursor:default;
}
.pagination span:hover, .pagination a:hover{
	color:#d00;
	cursor:pointer;	
	text-decoration:none;	
}
ui-tabs .ui-tabs-panel {
	display: block;
	padding:5px 5px 10px 5px;
	clear:both;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
/**Van ban du thao***/
.viewdetailmain{
	clear:both;
	overflow:hidden;
	width:960px;
}
.vd-part1{
	border:1px #a7c7d7 solid;	
	border-left:0px;	
	overflow:hidden;	
	clear:both;
}
.vd-title{
	font-size:14px;
	color:#0B5090;
	font-weight:bold;	
	background-color: #f7fbff;	
	border-bottom:1px #a7c7d7 solid;	
	padding:10px 10px 10px 10px;
}
.vd-category,.vd-description,.vd-content{
	border-bottom:1px #a7c7d7 solid;	
	padding:10px 10px 10px 10px;	
	line-height:20px;		
}
.vd-content{
	margin-bottom:10px;
}
.vd-icon-title {
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/ico_print.gif") no-repeat scroll left top transparent;
	color: #686868;
	cursor: pointer;
	padding: 1px 12px 4px 18px;
	float:right;
}
.vd-icon-title:hover{
	color: #d00!important;
	text-decoration:none;
	background: url("../../../../../../20180629163147im_/http/svhttdl.daknong.gov.vn/imgSonganh/ico_print.gif") no-repeat scroll left top transparent;
}
.vd-part2{
	border-right:1px #a7c7d7 solid;	
	overflow:hidden;	
	clear:both;
}
.vd-part2 iframe{
	width:960px!important;
	height:570px;
	overflow:auto;
	border:0px!important;
	padding:0px!important;
	margin:0px!important;
}
.vd-part2 iframe html, .vd-part2 iframe body{
	background-color:aqua;
	border:0px!important;
	padding:0px!important;
	margin:0px!important;
}
.agoback{
	padding:5px 10px;
}
.agoback div{
	float:left;
	padding-right:5px;
	cursor:pointer;
	line-height:30px;
}
.agoback div:hover{
	color:#d00;
}
.ui-tabs .ui-tabs-nav li,.ui-tabs .ui-tabs-nav{
	list-style:none!important;
}
/**hoi dap*/
table.ds_quesAsk{
	border-collapse:collapse;
	width:100%;
}
table.ds_quesAsk tr td{
	border-top:1px #a6d4ff solid!important;
	padding:5px 7px;
}
table.quesAsk tr td{
	border:0px!important;
}
table.quesAsk tr td.td_chude{
	font-weight:bold;
	background-color:#deefff;
	color:#0b5090;
	border-bottom:1px #e1e1e1 solid!important;
}
td.td_nguoigui{
	width:50%;
}
td.td_nguoigui, td.td_ngaygui{
	font-weight:bold;
	color:#444;
	background-color:#f0f7ff;
}
td.td_nguoigui span, td.td_ngaygui span{
	padding-left:4px;
}
table.ds_quesAsk td:hover table td{
	color:#d00!important;
	background-color:#ffffcc!important;
}
.row_tieudechinh td{
	font-weight:bold;
	color:#fff!important;
	text-transform:uppercase;
	padding:8px 0px 10px 10px !important;
	background:none!important;
}
table.table_ct tr.row_title td {
  /*  background-color: white;*/
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.formLH{
	padding:10px;
}
.qtLeft{
	display:none;
}
/*hoi dap*/
.table_nhapVB select{
	margin-left:120px;
	width:150px;
}
.mainDSHD .table_nhapVB select{
	margin-left:96px
}
.table_nhapVB .cell2 select{
	margin-left:0px;
}
.table_nhapVB select, .table_nhapVB input{
	color:#666;
}
.table_panelVB table td,.table_panelVB .cell2 input[type=text],.table_panelVB .cell2 textarea {
	padding: 2px;
}
.table_panelVB .cell1 {
	font-weight: bold;
}
.table_panelVB .cell2 {
	width:390px;
}
.table_panelVB .cell2 input[type=text]{
	width:350px;
}
.table_panelVB .cell2 select{
	width:356px;
}
.table_panelVB .cell2 input[type=file]{
	height:21px;
}
.table_panelVB .cell2 textarea{
	width:350px;
}
.table_panelVB .cell2_selector {
	width: 183px;
	height: 125px;
	overflow: scroll;
}
.table_panelVB .cell2_selector_padding {
	padding-left: 10px;
}
.table_panelVB table td td{
	border: none;
	padding: 0px;
}
.table_panelVB .cell2_text{
	width: 100%;
}
textarea.cell2_text{
	height:100px;	
}
.cell2 table table a{
	margin-left:10px;
	background: url("../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/_LAYOUTS/LacVietBio/eofficeimg/Giaodien/NewsCity/DeleteCategory.gif") no-repeat left center;
	line-height:19px;
	padding-left:20px;
}
td.cell2 a, td.cell2 a:link, td.cell2 a:visited, td.cell2 a:hover{
	color:#f00;
}
td.cell2 table td{
	padding:3px 0px 0px 0px;
	color:#666;
}
.table_panelVB .cell2 td input[type=text]{
	width:120px;
}
.table_panelVB1 {
	border-top: 1px #e0e0e0 solid;
}
.ms-rtelong{
	height:100px;
}
#ctl00_m_g_07991650_6db4_40c5_91c9_d73a0d0ce9f5_ctl00_tongso{
	float:left;
	width:130px;
}
/*search*/
.srch-Page{
	padding-bottom:0em!important;
}
.srch-Description2{	
	line-height:20px;
	margin-left:10px;
	border-bottom:1px #444 dotted;
	padding-bottom:10px;
}
.srch-Title3 a{
	font-size:14px!important;
	font-weight:bold;
}
.srch-results{
	padding:0px 15px;
}
.srch-Title3{
	background:url("../../../../../../20180629163147im_/http%253A/svhttdl.daknong.gov.vn/imgSoTTTT/icon3.jpg") no-repeat 5px 6px;
	padding-left:15px;
}
.srch-Title2{
	padding:10px 0px;
}
.breadCrumb ul li a, .breadCrumb ul li a:link, .breadCrumb ul li a:visited{
	color:#fff!important;text-transform:uppercase;font-weight:bold;padding:1px 10px!important
}
.css_td{
	width:130px;
	text-align:right;
	font-weight:bold
}
.td_txb div input{
	width:auto!important
}
.txb_fck textarea,.td_txb input{
	width:350px!important
}
/*css chung*/
ul#topnav li a,.srch-Description2,span#tP,.table_panelVB .cell1,table.table_ct tr.row_title td,.row_tieudechinh td,table.ds_quesAsk tr td,.agoback div,
.vd-part2,.vd-part1,.dvnduy-sitemap a, .dvnduy-sitemap a:link, .dvnduy-sitemap a:visited,.div_loaihtvb div
{
	font-size:12px;
	font-family:Arial;
}
.allPost .ms-PartSpacingVertical{
	margin-bottom:0px
}
.hlOTop .thongtincanbiet .news-tab-li{
	height:332px;overflow:hidden
}
.hCent .TTHC .news-tab-other{
	top:45px;position:relative
}
.hCent .news-tab-li{
	height:320px;overflow:hidden
}
/***end chinh moi***/


/*
     FILE ARCHIVED ON 16:31:47 Jun 29, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:33:53 Apr 10, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 60.163 (3)
  esindex: 0.01
  captures_list: 89.365
  CDXLines.iter: 15.328 (3)
  PetaboxLoader3.datanode: 85.402 (4)
  exclusion.robots: 0.188
  exclusion.robots.policy: 0.174
  RedisCDXSource: 9.516
  PetaboxLoader3.resolve: 306.607 (2)
  load_resource: 364.321
*/